/* Menu.module.css  */
.line {
  height: 3px;
  width: 80px;
  position: absolute;
  background-color: blue;
  display: inline-block;
  transform-origin: 0% 0%;
  top: calc(50% - 1px);
  left: 0;
  pointer-events: none;
  will-change: transform;
  transform: scaleX(1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.lineHover:hover {
  background-color: black;
}

.linkHover:hover {
  color: black !important;
}

.menuItem {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: calc(80px + 20px);
}

.menuItemLink {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
